/*NAVBAR- ARPIT*/

body
{
	margin: 0;
	padding: 0;
}

#topology
{
	min-height: 100vh;
}

header 
{
    padding: 0px 150px 0px 60px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    background: rgba(70, 65, 65, 0.2);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    transition: .5s;
    font-family: sans-serif;
}

header .logo
{
	color: white;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	float: left;
	font-weight: bold;
}

header nav
{
	float: right;
}
header nav ul
{
	margin: 0;
	padding: 0;
	display: flex;
}

header nav ul li
{
	list-style: none;
	text-decoration: none; 
}

header nav ul li a
{
	height: 50px;
	line-height:50px;
	color: white;
	display: block;
	padding: 0 20px;
	text-decoration: none; 
	font-size: 17px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
header nav ul li a:hover
{
	color:whitesmoke;
    background-color: #ff0002;
    text-decoration: none;
}
  
.menu-toggle
{
	color: #00e6e6;
	float: right;
	line-height: 50px;
	font-size: 24px;
	cursor: pointer;
	display: none;
}
  
@media only screen and (max-width: 991px)
  
{
	header
	{
	   padding: 0 20px;
	}
	.menu-toggle
	{
	  display: block;
	  padding-top: 10px;
	}
	header nav
	{
	   position:absolute;
	   left:-100%;
	   width: 100%;
	   height: calc(100vh-50px);
	   background: black;
	   top: 50px;
	   transition: 0.5s;
	}
  
	header nav ul
	{
	  display: block;
	  text-align: center;
	}
  
	header nav.active
	{
	   left: 0;
	}
}